body {
  background-color: rgb(163, 161, 161);
}

h1 {
  color: #272044;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: #272044;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  border: 1px solid black;
  padding: 15px;
}
.container {
  background: linear-gradient(rgb(228, 225, 225), rgb(145, 135, 135));
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
  border: 2px solid gray;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(90, 78, 78, 0.3);
}

button {
  color: rgb(23, 22, 27);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  margin: 0 auto 30px auto;
  border: 1px solid #030303;
  border-radius: 30px;
  background-color: whitesmoke;
  box-shadow: 5px 5px 10px rgba(90, 78, 78, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover {
  background: rgb(81, 81, 131);
  color: #f6f2fe;
  cursor: pointer;
}

p {
  text-align: left;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px 10px 10px 10px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 10px;
}
.pic {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 10px;
}
a {
  text-align: center;
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}
.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: block;
  text-align: center;
}
